$CTA:#02aab0,
#00cdac;
$font-color:#1b1b1b;
$links:rgba(0, 0, 0, 0.55);
$background: #fafafa;
$background-cards: #ffffff;
$background-solid: #59B2E5;

$font-dark: #606060;
$font-dark-strong: darken( #606060,5%);
