{% extends 'base.html' %}
{% load static %}
{% block main %}
    <main class="index">
        <section>
            <!-- https://regardis.com/como-poner-texto-encima-de-una-imagen-con-html-css/ -->
            <div class="card-image">
                <img src="{% static 'multimedia/images/indexPresentacion.jpg' %}" alt="">
                <div>
                    Centrado
                </div>
            </div>
        </section>
        <section>
            <h2>Personalizables</h2>
            <div id="carouselExampleFade" class="carousel slide carousel-fade">
                <div class="carousel-inner">
                  {% for custom in customizables %}
                    <div class="carousel-item active">
                      <img src="{{custom.image.url}}" class="d-block w-100" alt="{{custom.name}}">
                    </div>
                  {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
        </section>
        <section>
            <h2>Más vendido</h2>
            <div class="slider-container">
                {% for product in best_products %}
                  <article class="card-product">
                    <img src="{{product.image.url}}" alt="product.name">
                    <div>
                      <strong>{{product.name}}</strong>
                      <p>{{product.price}}</p>
                      <button>
                        <a href="{% url 'Add' product.id%}">
                          <i class="bi bi-cart3"></i>
                          <span>Agregar</span>
                        </a>
                      </button>
                    </div>
                  </article>
                {% endfor %}
            </div>
        </section>
        <section>
            <h2>Productos</h2>
            <div>
                {% for product in products %}
                  <article class="card-product">
                    <img src="{{product.image.url}}" alt="product.name">
                    <div>
                      <strong>{{product.name}}</strong>
                      <p>{{product.price}}</p>
                      <button>
                        <a href="{% url 'Add' product.id%}">
                          <i class="bi bi-cart3"></i>
                          <span>Agregar</span>
                        </a>
                      </button>
                    </div>
                  </article>
                {% endfor %}
            </div>
            <button>
              <a href="">Ver toods los productos</a>
            </button>
        </section>
        <section>
          <h2>Filamento</h2>
          <div>
            <article>
              <div class="card text-bg-dark">
              <img src="{% static 'multimedia/images/blanco.jpg' %}" class="card-img" alt="...">
              <div class="card-img-overlay">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small>Last updated 3 mins ago</small></p>
              </div>
            </div>
            </article>
            <article>
              <div class="card text-bg-dark">
              <img src="{% static 'multimedia/images/3n3-azul.jpg' %}" class="card-img" alt="...">
              <div class="card-img-overlay">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small>Last updated 3 mins ago</small></p>
              </div>
            </div>
            </article>
          </div>
          <button>
            <a href="">Ver toods los filamentos</a>
          </button>
        </section>
    </main>
{% endblock  %}