@import "base/vars";
@import "partials/mixins";
@import "partials/class";
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: $background;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
@import "main/header";
@import "main/footer";
@import "main/index";