@mixin grid($rows, $columns, $areas){
    display: grid;
    grid-template-columns: $columns;
    grid-template-rows: $rows;
    grid-template-areas: $areas;
}

@mixin flex($direction,$content,$aling){
    display: flex;
    flex-direction: $direction;
    justify-content: $content;
    align-items: $aling;
}

@mixin position($position,$top,$right,$bottom,$left){
    position: $position;
    top: $top;
    bottom: $bottom;
    left: $left;
    right: $right;
}

@mixin button-border-background-radius($border,$background,$radius){
    border: $border;
    background: $background;
    border-radius: $radius;
    transition:all .3s;
    &:hover{
        background-color:lighten($background, 10%);
    }
    &:active{
        background-color:lighten($background, 20%);
    }
}

@mixin ancor($color){
    color: $color;
    transition: all .2s;
    &:hover{
        color: lighten($color, 15%);
    }
}